@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: 'figtree';
    src: url(../src/fonts/Figtree-Italic-VariableFont_wght.ttf) format(truetype);
}

@font-face {
    font-family:'figtree0' ;
    src: url(../src/fonts/Figtree-VariableFont_wght.ttf) format(truetype);
}

:root {
    --cor1: rgb(255,255,255);
    --cor2:rgb(107,107,107);
    --cor3:rgb(17,17,17);
    --cor4:rgb(244,208,78);
}

html,body {
    height: 100vh;
}

body {
    background-color: var(--cor4);
}
main {
    height: 528px;
    width: 384px;
    position: absolute;
    background-color: var(--cor4);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.conteudo {
    border-radius: 15px;
    background-color: var(--cor1);
    padding: 20px;

}
.img {
    width: 336px;
    border-radius: 5px;
    
    
}
p, h1 {
    font-family: 'figtree0';
    text-align: justify;
}
p {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pcor {
    display: inline-block;
    border-radius: 3px;
    margin-top: 5px;
    padding: 5px;
    background-color: var(--cor4);
    font-family: 'figtree0';
    font-weight: bolder;
}

.pcor1 {
    color: var(--cor2);
    font-size: 16px;
    line-height: 150%;
}
h1 {
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.perfil {
    display: inline-block;
    width: 30px;
    padding-right: 10px;
    padding-top: 10px;
}

.nome {
    font-weight: bolder;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 5px;
    
}

.descricao {
    position: relative;
}
